.gradle
/local.properties
/.idea/workspace.xml
WeGit.iml
/.idea/libraries
.DS_Store
/build
/captures
.idea/encodings.xml
/.gitignore

httpknife.iml
app.iml
iconlibrary.iml

.idea/
MaterialSearch/MaterialSearch.iml
breadcrumbs/breadcrumbs.iml
